* {
    background-color: rgb(241, 235, 142);
}

h1 {
    color: rgb(207, 32, 32);
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 200px;
}

h2 {
    color: rgb(148, 6, 6);
    font-size: 16pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h3 {
    color: rgb(148, 6, 6);
    font-size: 14pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 300px;
    height: auto;
}

ul {
    text-align: center;
    list-style: none;
    color: rgb(78, 0, 0);
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: none;
}

ul > li:hover {
    text-decoration: underline;
}

ol {
    display: block;
    margin: 0% 20%;
    color: rgb(78, 0, 0);
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: none;
}

a {
    color: rgb(78, 0, 0);
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: none;
}

p {
    color: rgb(78, 0, 0);
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: none;
    text-align: center;
}